# transformers==4.25.1
torch==1.12.1+cu116
torchvision==0.13.1+cu116
transformers==4.27.4
accelerate==0.20.3
Pillow==9.5.0 
gradio==3.50.0

ftfy
tensorboard
datasets
opencv-python 
imgaug 
image-reward
hpsv2
torchmetrics
open-clip-torch
clip
segment_anything